
body {
    background-color: lightgray;
    font-family: 'Helvetica Neue';
    font-size: 12px;
    background: url(binding_light.png) repeat fixed center top;
}



.box {
    /*border-radius: 8px;*/
    /*background: url(Mac2.jpg) repeat fixed center top;*/
    box-shadow: 0px 0px 40px 0px gray;
    /* 
       border: 1px solid lightgray;*/
    /*box-shadow: 0px 0px 2px 2px rgb(232, 232, 232);*/
    /*background-color: rgb(243, 242, 242);*/
}


#MainPage {
    width: 1200px;
    margin: 0 auto;
}

#page {
    /*border:1px solid black;*/
    /*border-radius: 8px;*/
    background: url(sos.png) repeat fixed center top;
    width: 100%;
    position: relative;
    top: 25px;
    float: left;
    padding-top: 7px;
    /*padding: 5px 5px 5px 5px;*/
}

#header {
    width: 100%;
    margin: 0;
    float: left;
    padding: 30px 0px;
}

/*#header #banner {
        width: 100%;
        height: 200px;
        margin: 0;
        float: left;
    }

    #header #menu {
        width: 100%;
        height: 50px;
        margin: 0;
        float: left;
    }*/

#maincenter {
    width: 100%;
    margin: 0;
    float: left;
}

    #maincenter #top {
        width: 100%;
        margin: 0;
        float: left;
        margin-bottom: 15px;
    }

    #maincenter #main {
        width: 100%;
        margin: 0;
        float: left;
    }

        #maincenter #main #left {
            width: 146px;
            margin: 0;
            margin-right: 4px;
            float: left;
            text-align: center;
        }

        #maincenter #main #right {
            width: 196px;
            margin: 0;
            margin-left: 4px;
            float: left;
        }

        #maincenter #main #center {
            text-align: center;
            width: 850px;
            margin: 0;
            float: left;
            padding-bottom: 8px;
        }

#footer {
    width: 100%;
    margin: 0;
    float: left;
    margin-top: 100px;
    background: url('green-fibers.png') repeat-x;
    padding-bottom: 60px;
}

#footer-content {
    margin: 0px auto;
    width: 1200px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    animation-play-state: running;
}

    #footer-content:hover {
        animation-play-state: paused;
    }


.box-title {
    width: 100%;
    background: url('boxtitle.png') repeat-x;
    height: 25px;
    /*border-radius: 8px 8px 0px 0px;*/
    margin-bottom: 5px;
    font-family: Tahoma;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    font-size: 15px;
}

.menu {
    margin: 0 auto;
    padding: 0;
    height: 30px;
    width: 100%;
    background: url('topMenuImages.png') repeat-x;
}

    .menu li {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline;
        position:relative;
    }

        

        .menu li a {
            float: left;
            padding-left: 15px;
            display: block;
            color: rgb(255,255,255);
            text-decoration: none;
            font: 12px Verdana, Arial, Helvetica, sans-serif;
            cursor: pointer;
            background: url('topMenuImages.png') 0px -30px no-repeat;
        }

            .menu li a span {
                line-height: 30px;
                float: left;
                display: block;
                padding-right: 15px;
                background: url('topMenuImages.png') 100% -30px no-repeat;
                font-weight: bolder;
            }

            .menu li a:hover {
                background-position: 0px -60px;
                color: rgb(255,255,255);
            }

                .menu li a:hover span {
                    background-position: 100% -60px;
                    font-weight: bolder;
                }

            .menu li a.active, .menu li a.active:hover {
                line-height: 30px;
                font: 12px Verdana, Arial, Helvetica, sans-serif;
                background: url('topMenuImages.png') 0px -90px no-repeat;
                color: rgb(255,255,255);
            }

                .menu li a.active span, .menu li a.active:hover span {
                    background: url('topMenuImages.png') 100% -90px no-repeat;
                    font-weight: bolder;
                }

a {
    text-decoration: none;
    font-weight: bold;
    color: green;
    font-family: Tahoma;
}

    /*a:visited {
        color: rgb(175, 162, 16);
    }*/

    a:hover {
        color: rgb(242, 173, 17);
    }

.hyperlinkButton {
    background-color: #333e40;
    /*border-radius: 4px;*/
    text-decoration: none;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
}


.short-right-moving-animation:hover {
    position: relative;
    animation: shortrightmoving 0.5s infinite ease;
    -webkit-animation: shortrightmoving 0.5s infinite ease;
}

@keyframes shortrightmoving {
    from {
        left: 0px;
        color: green;
    }

    to {
        left: 5px;
        color: lightgreen;
    }
}

@-webkit-keyframes shortrightmoving {
    from {
        left: 0px;
        color: green;
    }

    to {
        left: 5px;
        color: lightgreen;
    }
}

.short-left-moving-animation:hover {
    position: relative;
    animation: shortleftmoving 0.5s infinite ease;
    -webkit-animation: shortleftmoving 0.5s infinite ease;
}

@keyframes shortleftmoving {
    from {
        left: 0px;
        color: green;
    }

    to {
        left: -5px;
        color: lightgreen;
    }
}

@-webkit-keyframes shortleftmoving {
    from {
        left: 0px;
        color: green;
    }

    to {
        left: -5px;
        color: lightgreen;
    }
}



.bookHover:hover {
    background-color: #ff8f3f;
    /*border-radius: 9px;*/
    position: relative;
    animation: shaking 0.5s 1 ease-in-out alternate;
    -webkit-animation: shaking 0.5s 1 ease-in-out alternate;
}


@keyframes shaking {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
    }

    33% {
        transform: rotate(1deg);
        -ms-transform: rotate(1deg); /* IE 9 */
        -webkit-transform: rotate(1deg); /* Safari and Chrome */
    }

    66% {
        transform: rotate(-1deg);
        -ms-transform: rotate(-1deg); /* IE 9 */
        -webkit-transform: rotate(-1deg); /* Safari and Chrome */
    }

    100% {
        transform: rotate(0.5deg);
        -ms-transform: rotate(0.5deg); /* IE 9 */
        -webkit-transform: rotate(0.5deg); /* Safari and Chrome */
    }
}

@-webkit-keyframes shaking /* Safari and Chrome */
{
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
    }

    33% {
        transform: rotate(1deg);
        -ms-transform: rotate(1deg); /* IE 9 */
        -webkit-transform: rotate(1deg); /* Safari and Chrome */
    }

    66% {
        transform: rotate(-1deg);
        -ms-transform: rotate(-1deg); /* IE 9 */
        -webkit-transform: rotate(-1deg); /* Safari and Chrome */
    }

    100% {
        transform: rotate(0.5deg);
        -ms-transform: rotate(0.5deg); /* IE 9 */
        -webkit-transform: rotate(0.5deg); /* Safari and Chrome */
    }
}

.yinyanglogo {
    animation: spinning 3s infinite linear;
    -webkit-animation: spinning 3s infinite linear;
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

.refreshimage:hover {
    animation: spinning 1s infinite linear;
    -webkit-animation: spinning 1s infinite linear;
}



@keyframes spinning {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
    }


    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Safari and Chrome */
    }
}

@-webkit-keyframes spinning /* Safari and Chrome */
{
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
    }


    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Safari and Chrome */
    }
}
